<ion-header>


<ion-row class="titulo">
  <ion-col size="12" class="titulo">
    <img src="assets/icon/FinanSystem.png">
  </ion-col>
</ion-row>

<ion-row>
 <ion-col size="12" class="danger">
  LOGIN
 </ion-col>

</ion-row>

<ion-row class="danger">
<ion-input class="campo"> </ion-input>

</ion-row>


<ion-row>
  <ion-col size="12" class="danger">
   SENHA
  </ion-col>
</ion-row>


  <ion-input> </ion-input>


<ion-row>
 


  
</ion-row>

<ion-row>

  
</ion-row>



<ion-row>
  <ion-col class="botao">
  <ion-button expand="full" color="tertiary">ENTRAR</ion-button>
</ion-col>
</ion-row>
 
<ion-row>
  <ion-col class="botao">
  <ion-button expand="full" color="tertiary">CADASTRO DE USUÁRIO</ion-button>
</ion-col>
</ion-row>


</ion-header>
  
