<ion-header>


 
  <ion-row>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">INCLUIR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">ALTERAR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">EXCLUIR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">LISTAR</ion-button>
  </ion-col>



</ion-row>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="cadastro">
    CADASTRO DE USUÁRIO
  </ion-col>
  </ion-row>

  
    
    <ion-row>
      <ion-col size="3" class="danger">
        COD. USUÁRIO
        <ion-input class="campo"> </ion-input>
      </ion-col>

      <ion-col size="9" class="danger">
        NOME
        <ion-input class="campo"> </ion-input>
       </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="danger">
        SETOR
        <ion-input class="campo"> </ion-input>
      </ion-col>

      
    </ion-row>    
    
    <ion-row>
      <ion-col size="8" class="danger">
        CPF
        <ion-input class="campo"> </ion-input>
      </ion-col>

      <ion-col size="4" class="danger">
        DATA NASCIMENTO
        <ion-input class="campo"> </ion-input>
       </ion-col>
    </ion-row>    

    <ion-row>
      <ion-col size="12" class="danger">
        ENDEREÇO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        TIPO USUÁRIO
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>   
     
    <ion-row>
      <ion-col size="12" class="danger">
        LOGIN
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        SENHA 
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>  

    

    <ion-row>
      <ion-col size="6" class="botao">
      <ion-button expand="full" color="tertiary">GRAVAR</ion-button>
    </ion-col>
         <ion-col size="6" class="botao">
      <ion-button expand="full" color="tertiary">VOLTAR</ion-button>
    </ion-col>
    </ion-row>
  
  </ion-content>